ai.onnx;1;Transpose
ai.onnx;5;Reshape
ai.onnx;6;Relu,Sigmoid
ai.onnx;7;Add
ai.onnx;10;QLinearConv
ai.onnx;11;Conv,MaxPool,Resize
ai.onnx;12;MaxPool
ai.onnx;13;Concat,DequantizeLinear,QuantizeLinear,Relu,Reshape,Slice,Softmax,Split,Transpose
com.microsoft;1;FusedConv,NhwcMaxPool,QLinearConcat,QLinearConv,QLinearSoftmax
